{{define "title"}}About postmortems.app{{end}}

{{define "body"}}
<article class="pa3 pa5-ns mw8 center">
    <p class="lh-copy">This project means to create a public repository of incident reports with annotated metadata and
        summaries of public postmortem
        documents. This repo takes the work in <a href="https://github.com/danluu/post-mortems" target="_blank">danluu/post-mortems</a>
        repository
        and expands on it, trying to add categories, time data, and room for more in-depth analysis.</p>
    <p class="lh-copy">If you'd like to contribute, either edit a postmortem file in the data folder, or try to fix an
        issue.</p>

    <p class="lh-copy">If you want further process the postmortem metadata files locally, we have a <a
            href="/output/" target="_blank">folder</a> with all the metadata in JSON format. Please let us know your findings.</p>

    <p class="lh-copy">If you would like to find postmortem templates from various companies, you can check at the <a
            href="https://github.com/dastergon/postmortem-templates" target="_blank">postmortem-templates</a> repository on Github.</p>

    <p class="lh-copy">The repository of this app is <a href="https://github.com/icco/postmortems" target="_blank">available</a> on
        Github.</p>
</article>
{{end}}
