{{define "title"}}{{ range .Postmortems }}{{ if .Title }}{{ .Title }}{{ else }}{{ .Company }} Postmortem{{ end }}{{ end }}{{end}}

{{define "body"}}
<article class="pa3 pa5-ns mw8 center">
  {{ range .Postmortems }}
  <h1 class="f3 f2-m f1-l">{{ if .Title }}{{ .Title }}{{ else }}{{ .Company }}{{ end }}</h1>
  {{ if .Title }}
  <h2 class="f5 f4-l fw4 mt0">{{ .Company }}</h2>
  {{ end }}
  <ul>
    {{ range .Categories }}
    <li><a href="/category/{{ . }}">{{ . }}</a></li>
    {{end}}
  </ul>

  <p class="lh-copy">
    {{ .Description }}
  </p>
  <small>
    <a href="{{ .URL }}" target="_blank">Source</a> |
    <a href="https://github.com/icco/postmortems/blob/master/data/{{ .UUID }}.md" target="_blank">Edit Metadata</a> |
    <a href="{{ .UUID }}.json" target="_blank">JSON file</a>
  </small>
  {{ end }}
</article>
{{end}}
