{{define "title"}}Postmortem{{end}}

{{define "body"}}
<div class="pa5 pa5-ns w-100 mw8 center">
  {{ range .Postmortems }}
  <h1 class="f3 f2-m f1-l">{{ .Company }}</h1>
  <ul>
    {{ range .Categories }}
    <li><a href="/category/{{ . }}">{{ . }}</a></li>
    {{end}}
  </ul>

  <p class="measure lh-copy">
   {{ .Description }}
  </p>
  <small><a href="{{ .URL }}">Source</a>, <a href="https://github.com/icco/postmortems/blob/master/data/{{ .UUID }}.md">Edit Metadata</a> </small>
  {{ end }}
</div>
{{end}}
